*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/landscape.jpg") center/cover no-repeat;
    filter: blur(6px);
    transform: scale(1.1); 
    z-index: -1;
}
.widget{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width:80vh;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fffffff1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);   
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.tabs input{
    display: none;
}
.tabs label{
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #555;
    transition: all 0.3s ease;
}
.tabs input:checked + label{
    color: #000;
    border-block-end: 2px solid #000;
}
.tab-content{
    position: relative;
    width: 100%;
    min-height: 150px;
    padding: 20px;
}
.tab-content > div{
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
#Home:checked ~ .tab-content #home-content ,
#about:checked ~ .tab-content #about-content ,
#contact:checked ~ .tab-content #contact-content ,
#services:checked ~ .tab-content #services-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}